/* font-family: 'Homemade Apple', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Slabo 27px', serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif; 
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.image1 {
    background-image: url(../images/Mount_Hood_Trillium\ Lake_9.16.17-6_1.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}
.image2 {
    background-image: url(../images/Crystal\ Mill_8.8.17-8.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}
.image3 {
    background-image: url(../images/Silverthorne_8.7.17_1.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

#form {
    background-color: #c4c4c4b7;    
    padding: 15px;
    border-radius: 10px;
    width: 53%;
    margin: auto;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    background-color: burlywood;
    color: #ffffff;
    width: 100vw;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}

#logo {
    height: 70px;
}

.content-wrapper {
    padding-bottom: 150px;
}

.footer {
    background-color: darkturquoise;
    width: 100vw;
    left: 0;
    text-align: center;
    color: #ffffff;
    height: 75px;
    position: absolute;
}

#newsBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: right;
    margin-right: 3%;
}

#ticketmasterBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: left;
    margin-left: 3%;
}

#breweryBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: right;
    margin-right: 3%;
}

.brew {
    border-bottom: 2px solid white;
}

#forecastBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 3%;
    color: #ffffff;
    /* width: 45%; */
    border-radius: 10px;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#youTubeBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: left;
    margin-left: 3%;
}


.video {
    text-align: center;
}

.headline {
    margin-bottom: 0px;
}

.newsImg {
    width: 250px;
    float: right;
    margin: 10px;
}

#news-header {
    text-align: center;
}

#youtube-header {
    text-align: center;
}

.ytp-cued-thumbnail-overlay-image {
    margin: auto;
}

.byline {
    float: left;
    margin: 10px;
}

.source {
    float: left;
    margin: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

hr {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content {
    margin: 20px;
    font-size: 18x;
}


.error-location, .error-dates, .error-interests {
    color: red;
}
.modal {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}

#search-again {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-top: 1%;
    border-radius: 18px;
}

#submit {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    border-radius: 18px;
}

iframe {
    border-radius: 18px;
    padding: 1rem;
    background: beige;
    margin-bottom: 2rem;
    width: 80%;
}

/* overrides skeleton styling on calendar */
th,
  td {
    padding: 0 0;
    text-align: none;
    border-bottom: none; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

.modal a.close-modal {
    background-image: none;
    background-color: black;
    border-radius: 15px;
    background-size: 25px;
    background-image: url("../images/logo_modal.png");
}


@media (min-width: 640px){
    #form {
        width: 95%;
    }
    .header {
        height: 90px;
    }
    h1 {
        font-size: 4.0rem;
    }
    #search-again {
        position: relative;
        float: right;
        top: -65px;
    }
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 95%;
        margin-top: 10px;
    } 

}

@media (min-width: 768px) {
    #form {
        width: 80%;
    }
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 95%;
        margin-top: 50px;
    } 
}

@media (min-width: 980px){
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 45%;
        margin-top: 50px;
    } 
}

/* 640px
768px
980px
1200px */