* {
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.wrapper {
    height: 100vh;
}

body {
   background-image: url(../images/Mount\ Hood_Trillium\ Lake_9.16.17-6.jpg); 
   background-repeat: no-repeat;
   background-size: auto 100%;
   background-attachment: fixed;
}

#form {
    background-color: #c4c4c4b7;    
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 150px;
}


.header {
    background-color: burlywood;
    color: #ffffff;
    width: 100vw;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    height: 70px;
}

.footer {
    background-color: darkturquoise;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    height: 75px;
}

.newsDiv {
    background-color: dimgray;
    padding: 10px;
    margin: auto;
    margin-top: 150px;
    color: #ffffff;
    width: 60%;
    border-radius: 10px;
}

.newsImg {
    width: 300px;
    float: right;
    margin: 10px;
}

.byline {
    float: left;
    margin: 10px;
}

.source {
    float: left;
    margin: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

hr {
    width: 80%;
}

.content {
    margin: 20px;
}






}

 input.invalid:focus, input.invalid {
    border: none;
	border: 1px solid red;
}

.error-location, .error-dates, .error-interests {
    color: red;
}
