/* font-family: 'Homemade Apple', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Slabo 27px', serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif; 
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.image1 {
    background-image: url(../images/AerialTrail.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}
.image2 {
    background-image: url(../images/AerialTrees.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}
.image3 {
    background-image: url(../images/Canyonlands.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image4 {
    background-image: url(../images/Cathedral.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image5 {
    background-image: url(../images/MountHood.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image6 {
    background-image: url(../images/Olympic.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image7 {
    background-image: url(../images/SilverThorne.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image8 {
    background-image: url(../images/YosemiteStars.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image9 {
    background-image: url(../images/foggyRoad.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image10 {
    background-image: url(../images/foggyTrees.jpg); 
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

h6 {
    margin-bottom: 0;
}

#form {
    background-color: #c4c4c4cb;    
    padding: 15px;
    border-radius: 10px;
    width: 53%;
    margin: auto;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    background-color: burlywood;
    color: #ffffff;
    width: 99vw;
    padding: 40px;
    position: relative;
    left: 0;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    border-radius: 36px;
    margin-top: -2%;
}

#logo-name {
    margin: 20px;
    float: left;
    position: relative;
    left: 5%;
}

h4 {
    text-align: center;
}

#search-again {
    margin: 20px;
    float: right;
    position: absolute;
    right: 5%;
    top: 25%

}

#logo {
    height: 70px;
}

/* .content-wrapper {
    padding-bottom: 150px;
} */

.footer {
    background-color: brown;
    width: 100vw;
    left: 0;
    text-align: center;
    color: #ffffff;
    position: absolute;
    margin-top: 1rem;
    border-style: solid;
    border-color: black;
    border-left: 0;
    border-bottom: 0;
    border-width: 1rem;
}

#newsBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: right;
    margin-right: 3%;
}

#ticketmasterBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: left;
    margin-left: 3%;
}

#breweryBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: right;
    margin-right: 3%;
}

.brew {
    border-bottom: 2px solid white;
}

#forecastBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 3%;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#youTubeBox {
    background-color: rgba(105, 105, 105, 0.8);
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
    width: 45%;
    border-radius: 10px;
    float: left;
    margin-left: 3%;
}


.video {
    text-align: center;
}

.headline {
    margin-bottom: 0px;
}

#news-header {
    text-align: center;
}

#byline-div {
    float: left;
    width: 45%;
    margin-left: 4%;
}

#source-div {
    float: left;
    width: 45%;
    margin-left: 4%;
}

.newsImg {
    width: 100%;
}

#img-div {
    float: right;
    width: 45%;
    margin-right: 4%;
}

#youtube-header {
    text-align: center;
}

.ytp-cued-thumbnail-overlay-image {
    margin: auto;
}


a {
    color: #ffffff;
    text-decoration: none;
}

hr {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content {
    margin: 20px;
    font-size: 18x;
}


.error-location, .error-dates, .error-interests {
    color: red;
}
.modal {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
}

#search-again {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-top: 1%;
    border-radius: 18px;
    position: relative;
}

#submit {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    border-radius: 18px;
}

iframe {
    border-radius: 18px;
    padding: 1rem;
    background: beige;
    margin-bottom: 2rem;
    width: 80%;
}

#header-correct {
    margin-top: none;
}

#footer-correct {
    margin-bottom: 0;
    margin-top: 1rem
}

/* overrides skeleton styling on calendar */
th,
  td {
    padding: 0 0;
    text-align: none;
    border-bottom: none; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

.modal a.close-modal {
    background-image: none;
    background-color: black;
    border-radius: 15px;
    background-size: 25px;
    background-image: url("../images/logo_modal.png");
}


@media (min-width: 640px){

    #form {
        width: 95%;
    }
    .header {
        text-align: left;
        height: 140px;
    }
    h1 {
        font-size: 4.0rem;
    }
    #search-again {
        position: relative;
        float: right;
        top: -53px;
        right: -17px;
        width: 160px;
        padding: 0;
        
    }
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 95%;
        margin-top: 10px;
    } 
    #logo-name {
        margin: none;
        left: 0;
    }

}

@media (min-width: 768px) {
    #form {
        width: 80%;
    }
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 95%;
        margin-top: 0px;
    } 
    #search-again {
        position: relative;
        float: right;
        width: 295px;
        padding: 0;
    }
}
@media (min-width: 843px){
    #search-again {
        right: -16px;
        top: 72px;
    }
}

@media (min-width: 980px){
    #newsBox, #ticketmasterBox, #weatherBox, #breweryBox, #forecastBox, #youTubeBox {
        width: 45%;
        margin-top: 50px;
    } 
    #search-again {
        margin: 5px;
    }
}

/* 640px
768px
980px
1200px */